@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: url(../imagens/back-tablet.jpg);
        
    }

    img#phone {display: none;}
    img#print {display: block;}
    img#tv {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    background: url(../imagens/back-phone.jpg);
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#print {display: none;}
    img#tv {display: none;}
    img#pc {display: block;}
    img#print {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
    img#pc {display: none;}
    img#print {display: none;}
}